:root{
    font-size: 62.5%;
}



@font-face {
    font-family: "Futuristic-Font";

    src: url("./fonts/BOREX-BOREXVariationSlant.otf") format("truetype");
}
  






*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html,
body{
    font-size: 1.6rem;

    width: 100dvw;
    height: 100dvh;

    background: linear-gradient(to bottom right, 
                                #d3cae0, 
                                #a195b3);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;

    
}


h1{
    color: rgb(255, 235, 235);

    
    font-size: 5rem;
    font-weight: 550;

    text-shadow: rgb(29, 29, 29) 0rem .5rem 1rem,
                 rgb(117, 77, 77) 0rem .8rem 1.1rem;

    font-family: "Futuristic-Font", Arial, sans-serif;
}














svg#main-board-svg{
    --svg-glow-bcg: rgb(243, 203, 255);

    flex-shrink: 0;

    width: 70rem;
    height: 70rem;
    padding: 2rem;

    border: .2rem solid var(--svg-glow-bcg);
    border-radius: 1.5rem;
    
    box-shadow: 0rem 1rem 2rem var(--svg-glow-bcg);

    
}


.winning-line{
    opacity: 0;

    pointer-events: none;
    user-select: none;
}




.red-cross[data-visibility="not-visible"],
.blue-circle[data-visibility="not-visible"]{
    opacity: 0;
}





.red-cross[data-visibility="fully-visible"],
.blue-circle[data-visibility="fully-visible"]{
    opacity: 1;
}


.red-cross,
.blue-circle{
    pointer-events: none;
    user-select: none;

    transition: opacity 200ms linear;
}







.hover-backdrop[data-animation="animating"]{
    opacity: 0;

    animation: visibleStart 800ms forwards linear 1050ms;
}

.hover-backdrop[data-animation="ready"]{
    cursor: pointer;

    transition: opacity 200ms linear;
}




@media not (hover: none) {
    
    .hover-backdrop[data-animation="ready"]:hover{
        opacity: 0;
    }


    .red-cross[data-visibility="partially-visible"],
    .blue-circle[data-visibility="partially-visible"]{
        opacity: 0.3;
    }

}




.hover-backdrop.clicked[data-animation="ready"]{
    opacity: 0;
}











.game-border{
    opacity: 0;
    transform: translate(2rem, -2rem);
}


#game-borders-top{
    animation: visibleStart 600ms forwards linear,
               movementStart 600ms forwards linear;
}


#game-borders-bottom{
    animation: visibleStart 600ms forwards linear 150ms,
               movementStart 600ms forwards linear 150ms;
}


#game-borders-left{
    animation: visibleStart 600ms forwards linear 300ms,
    movementStart 600ms forwards linear 300ms;
}

#game-borders-right{
    animation: visibleStart 600ms forwards linear 450ms,
               movementStart 600ms forwards linear 450ms;
}



@keyframes visibleStart {
    to{
        opacity: 1;
    }
}


@keyframes movementStart {
    to{
        transform: translate(0rem, 0rem);
    }
}






.winning-dialog-box{
    --box-shadow-inner-padding: 1.8rem;

    width: 100dvw;
    height: 45rem;
    
    background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(211, 211, 211));

    box-shadow: inset 0rem 0rem var(--box-shadow-inner-padding) rgb(110, 110, 110);
    padding: var(--box-shadow-inner-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    gap: 4rem;

    font-family: 'Courier New', Courier, monospace;

    text-align: center;
}



#trophy-image{
    width: 15rem;

    filter: drop-shadow(0rem 0rem 2rem rgb(197, 197, 197));
}


.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;
}


.image-container::after{
    content: '';

    background-color: #ac9cc4;

    height: .6rem;

    border-radius: .7rem;

    box-shadow: .3rem .3rem #9278b9;


    animation: borderWidthIncrease 1000ms cubic-bezier(0, 0, 0.58, 1) forwards;

}



.winning-title{
    font-size: 3rem;

    color: rgb(61, 61, 61);
}


.winning-description{
    font-size: 2rem;

    width: 70rem;

    font-weight: 550;

    color: rgb(126, 126, 126);
}






@keyframes borderWidthIncrease {
    from{
        width: 0rem;
    }
    to{
        width: 28rem;
    }
}

