:root{
    font-size: 62.5%;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html,
body{
    font-size: 1.6rem;

    width: 100dvw;
    height: 100dvh;

    background: linear-gradient(to bottom right, 
                                #d3cae0, 
                                #a195b3);

    display: flex;
    align-items: center;
    justify-content: center;
}


.x-svg.playing-piece{

}

.o-svg.playing-piece{

}



.vertical-grid{

}

.horizontal-grid{

}


.winning-line{
    
}